---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import { Media, Modal, Pagination } from 'accessible-astro-components'
---

<DefaultLayout title="Media">
  <section>
    <h1>Media</h1><br>
    <p class="size-20">Lorem ipsum dolor sit amet.</p>
  </section>
  <section class="margin-32">
    <div class="space-content">
      <div class="contents">
        <h2>Media overview</h2>
        <p><em>Results: 1-6 of 24</em></p>
      </div>
      <button id="modal-trigger" class="button color-secondary">Add new media item</button>
      <Modal
        triggerId="modal-trigger"
        title="Add media"
        closeText="Cancel"
      >
        <p>You can use this component to include a form that adds a new media item to the list.</p>
      </Modal>
      <div class="grid small-grid-1 medium-grid-2 large-grid-3 equal-height">
        <Media 
          classes="media radius-large elevation-400"
          src="https://images.unsplash.com/photo-1446776811953-b23d57bd21aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2344&q=80"
        />
        <Media 
          classes="media radius-large elevation-400"
          src="https://images.unsplash.com/photo-1608178398319-48f814d0750c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1758&q=80"
        />
        <Media 
          classes="media radius-large elevation-400"
          src="https://images.unsplash.com/photo-1454789548928-9efd52dc4031?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1760&q=80"
        />
        <Media 
          classes="media radius-large elevation-400"
          src="https://images.unsplash.com/photo-1590907047706-ee9c08cf3189?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1760&q=80"
        />
        <Media 
          classes="media radius-large elevation-400"
          src="https://images.unsplash.com/photo-1446941611757-91d2c3bd3d45?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1402&q=80"
        />
        <Media 
          classes="media radius-large elevation-400"
          src="https://images.unsplash.com/photo-1536697246787-1f7ae568d89a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80"
        />
      </div>
    </div>
    <div class="grid align-horizontal margin-32">
      <Pagination />
    </div>
  </section>
</DefaultLayout>

<style lang="scss" is:global>
  .media {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
  }
</style>
