---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Settings">
  <section>
    <h1>Settings</h1><br>
    <p class="size-20">Lorem ipsum dolor sit amet.</p>
  </section>
  <section class="margin-32">
    <div class="space-content">
      <div class="contents">
        <h2>Settings overview</h2>
        <p>Change your preferences like timezone, color palette and profile picture.</p>
      </div>
    </div>
  </section>
</DefaultLayout>
