---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import EmpyState from '../components/EmpyState.astro'
import { Modal } from 'accessible-astro-components'
---

<DefaultLayout title="Users">
  <section>
    <h1>Users</h1><br>
    <p class="size-20">Lorem ipsum dolor sit amet.</p>
  </section>
  <section class="margin-32">
    <div class="space-content">
      <h2>Users overview</h2>
      <EmpyState>
        You haven't added any users yet. Start by adding some.
      </EmpyState>
      <button id="modal-trigger" class="button color-secondary">Add your first user</button>
      <Modal
        triggerId="modal-trigger"
        title="Add user"
        closeText="Cancel"
      >
        <p>You can use this component to include a form that adds a new user to the list.</p>
      </Modal>
    </div>
  </section>
</DefaultLayout>
