---
const {
  number = '+54',
  title = 'New messages',
  type = 'success'
} = Astro.props
---

<div class="dashboard-widget radius-large space-24 elevation-400 space-content type-${type}">
  <p class="size-48">
    <strong>{number}</strong>
  </p>
  <p class="size-20">
    <em>{title}</em>
  </p>
</div>

<style lang="scss">
  .dashboard-widget {
    &.type-success {
      > p:first-child {
        color: var(--success-700);
      }
    }

    &.type-error {
      > p:first-child {
        color: var(--error-700);
      }
    }

    background-color: var(--neutral-100);
  }

  :global(.darkmode .dashboard-widget) {
    background-color: var(--neutral-900);

    &.type-success {
      > p:first-child {
        color: var(--success-400);
      }
    }

    &.type-error {
      > p:first-child {
        color: var(--error-400);
      }
    }
  }
</style>
