<button class="responsive-toggle" aria-expanded="false" aria-label="Open menu navigation">
  <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 8h12M6 12h12M6 16h12"/></svg>
</button>

<script>
  // variables
  const mainNav = document.querySelector('#main-navigation')
  const mobileNavigation = mainNav.querySelector('.mobile-menu')
  const responsiveToggle = mainNav.querySelector('.responsive-toggle')
  const menuIconLabels = [...mainNav.querySelectorAll('.sr-only')]
  const mediaQuery = window.matchMedia('(min-width: 48em)')

  // functions
  const openMenu = (toggle) => {
    menuIconLabels.forEach(menuIconLabel => {
      menuIconLabel.classList.remove('sr-only')
    })
    toggle.setAttribute('aria-expanded', true)
    toggle.setAttribute('aria-label', 'Close menu navigation')
    toggle.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 12 7 7m5 5 5 5m-5-5 5-5m-5 5-5 5"/></svg>`
  }

  const closeMenu = (toggle) => {
    menuIconLabels.forEach(menuIconLabel => {
      menuIconLabel.classList.add('sr-only')
    })
    toggle.setAttribute('aria-expanded', false)
    toggle.setAttribute('aria-label', 'Open menu navigation')
    toggle.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="32" height="32" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 8h12M6 12h12M6 16h12"/></svg>`
  }

  // execution
  responsiveToggle.addEventListener('click', _ => {
    mobileNavigation.classList.toggle('show')
    mobileNavigation.classList.contains('show')
      ? openMenu(responsiveToggle)
      : closeMenu(responsiveToggle)
  })

  window.addEventListener('resize', () => {
    const menuIconLabels = [...mainNav.querySelectorAll('span')]

    if (mediaQuery.matches) {
      mobileNavigation.classList.remove('show')
      closeMenu(responsiveToggle)
    } else {
      menuIconLabels.forEach(menuIconLabel => {
        menuIconLabel.classList.remove('sr-only')
      })
    }
  })
</script>

<style lang="scss" is:global>
  @use "../assets/scss/base/breakpoint" as *;
  @use "../assets/scss/base/outline" as *;

  .responsive-toggle {
    display: none;
    padding: 0;
    border: none;

    svg {
      width: 30px;
    
      path {
        stroke: var(--secondary-100);
        transition: stroke 0.2s ease-in-out;
      }
    }

    &:hover {
      svg path {
        stroke: var(--primary-400);
      }
    }
  }
</style>
